body{
    margin:0%;
}
img{
    width: 100%;
    height: 700px;
}
.slide-container{
    position: relative;
}
.arrow{
    cursor:pointer;
    position:absolute;
    top:40%;
    background-color: rgba(255, 255, 255, 0.43);
    padding: 1.5%;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
}
.next{
    right: 5px;
}
.caption{
    color: white;
    position: absolute;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.633);
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
}
.slide{
    display: none;
}
