body{
    margin: 0px;
}
img{
    width: 100%;
    height: 670px;
}
.slide-container{
    position: relative;
}
.caption{
    background-color: pink;
    position: absolute;
    bottom: 3px;
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-weight:lighter;
}
.button{
    position: absolute;
    top:280px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
    background-color: pink;
    padding: 12px;
    cursor: pointer;
}
.next{
    right: 0px;
}
.slide{
    display: none;
}
