*{
    margin: 0;
    padding: 0;
    box-sizing: 0;

}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 100vh;
    height: 100vh;
    
}



































































